{% extends 'base.html'%}
{% block content %}
<body>
<h1> IHIS Iris - Analytics </h1>
<h3> Select a date range or last n days</h3>

<form action="" method='POST' name="myform">
    {{ form.csrt_token }}
    {{ form.startdate.label }} {{form.startdate(class='datepicker')}} {{form.hidden_tag()}} <br> <br>
    {{ form.enddate.label }} {{form.enddate(class='datepicker')}} {{form.hidden_tag()}}
    <h2>OR</h2>
    <p>{{ form.days.label }} {{ form.days }} {{form.hidden_tag()}}</p> <br>
    <p>
    {{form.submit()}}
    </p>
</form>
</body>
{% endblock %}